extend layout

block content
    #message-box

    form.addMessage(name="message", action="api/messages", method="post")
        textarea(type="text", class="text-message", name="message", col="20", rows="4", maxlength="140", placeholder="Type your message here")
        input(type="hidden", name="longitude", placeholder="longitude")
        input(type="hidden", name="latitude", placeholder="latitude")
        input(type="hidden", name="country", placeholder="country")
        input(type="hidden", name="countryCode", placeholder="countryCode")
        input(type="hidden", name="city", placeholder="city")
        input(type="hidden", name="profanity", value='false')
        #share-box
            h1 Share a loving message on this holidays.
            br
            input.share-button(type="submit",  value="Share")