extend layout

block content
	
	button Click Me!

    p#demo
    
    ul#GeoResults


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/geo_location.js")

    h1 SIGN IN
	p
		a(href='/auth/facebook') Sign in with Facebook
	p
		a(href='/auth/twitter') Sign in with Twitter