extend layout

block content

	.landing

		.container
		
			blockquote.quote-message
				p “BABE, YOU’RE MY EVERYTHING”

				small from Marco Kelso in San José.
			

		.dotted-container

			.container
				
				h1.headline Share a loving message on this holidays.

				p
					a(href='/auth/facebook').btn 
						span Sign in with
						span.icon.icon-facebook

					a(href='/auth/twitter').btn
						span Sign in with
						span.icon.icon-twitter