extend layout

block content

	.landing

		.container
		
			blockquote.quote-message
				p Esta es una prueba si esto funciona bien vamos a dejar de testear lo largo de los textos de una vez por todas no pongo comas pq no quise eso

				small from Marco Kelso in San José.
			

		.dotted-container
			h1.headline Share a loving message on this holidays.

			ul.login
				li
					a(href='/auth/facebook').btn.icon-facebook Sign in with

				li
					a(href='/auth/twitter').btn.icon-twitter Sign in with