extend layout

block content

	.hero-container
		hgroup
			h1.headline 
				span.st World's 
				span.nd Biggest
				span.logo (Possible) 
				span.rd Party!!!

			h2.subheadline 
				span.line
				| Bye bye 
				span.year 2014
				span.line

		p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.

		a(href="/signup").get-started Get started