extend layout

block content

	.landing

		.container

		.dotted-container
			h1.headline Share a loving message on this holidays.


			ul.login
				li
					a(href='/auth/facebook' onClick='setCookie("fb")').btn.icon-facebook  Sign in with

				li
					a(href='/auth/twitter' onClick='setCookie("tw")').btn.icon-twitter Sign in with

				li
				
