.text-message{
	width: 79.7vw;
    /*max-width: 900px;*/
    margin: 0 auto;
  
    font-family: $font-thin;
    font-size: 5vw;
    line-height: 9.5vh;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color:$color-lightblue;
    color:$color-white;
    border: 0px solid;
    text-align:center;
    outline: 0;

    &:before{
        content:"“";
    }

    &:after{
        content:"”";
    }
}

.addMessage{
	width:80%;
	height:70%;
	margin: 0 auto;
}

.share-wrapper {
	position: absolute;
	width: 100vw;
	top: 18vh;
	left: 0;
	text-align: center;

	.share-button{
		display: inline-block;
		padding: 0 40px 0 40px;
		background-color: #000;
		color: #fff;
		font-family: "ProximaNovaLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
		font-size: 27px;
		line-height: 57px;
		text-align:center;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		border: 0px solid;

		&:hover{
			background-color: #fff;
		    color: #000;
		}
	}

	input {
		visibility: hidden;
	}
}


h1{
	font-family: "ProximaNovaLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 20px;
	line-height: 57px;text-align:center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	color:white;
	text-align: center;
}

#message-box{
	padding-top:10%;
}

::-webkit-input-placeholder {
	color: $color-white;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	color: $color-white;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: $color-white;
    font-style: italic;
}

:-ms-input-placeholder {  
	color: $color-white;
    font-style: italic;
}
