$width: 100px;

[class*=nugget]{
    display: inline-block;
    width: $width;
    height: $width;
    background-image: url(../img/nuggets.svg);
    background-size: ($width * 4);
    text-indent: -9999px;
    animation: 1s linear infinite;
}


//Nuggets List
.nugget1{
    -webkit-animation: nugget1 1s linear infinite;
    animation: nugget1 1s linear infinite;
}
.nugget2{
    -webkit-animation: nugget2 1s linear infinite;
    animation: nugget2 1s linear infinite;
}
.nugget3{
    -webkit-animation: nugget3 1s linear infinite;
    animation: nugget3 1s linear infinite;
}
.nugget4{
    -webkit-animation: nugget4 1s linear infinite;
    animation: nugget4 1s linear infinite;
}
.nugget5{
    -webkit-animation: nugget5 1s linear infinite;
    animation: nugget5 1s linear infinite;
}
.nugget6{
    -webkit-animation: nugget6 1s linear infinite;
    animation: nugget6 1s linear infinite;
}
.nugget7{
    -webkit-animation: nugget7 1s linear infinite;
    animation: nugget7 1s linear infinite;
}
.nugget8{
    -webkit-animation: nugget8 1s linear infinite;
    animation: nugget8 1s linear infinite;
}
.nugget9{
    -webkit-animation: nugget9 1s linear infinite;
    animation: nugget9 1s linear infinite;
}
.nugget10{
    -webkit-animation: nugget10 1s linear infinite;
    animation: nugget10 1s linear infinite;
}

@mixin nugget($ngt) {
    0% {background-position: 0px $ngt;}
    24.99% {background-position: 0px $ngt;}
    25% {background-position: -($width) $ngt;}
    49.99% {background-position: -($width) $ngt;}
    50% {background-position: -($width * 2) $ngt;}
    74.99% {background-position: -($width * 2) $ngt;}
    75% {background-position: -($width * 3) $ngt;}
    99.99% {background-position: -($width * 3) $ngt;}
    100% {background-position: -($width * 4) $ngt;}
}

// NGT-1
@-webkit-keyframes nugget1{@include nugget(0px);}
@keyframes nugget1{@include nugget(0px);}

// NGT-2
@-webkit-keyframes nugget2{@include nugget(-($width));}
@keyframes nugget2{@include nugget(-($width));}

// NGT-3
@-webkit-keyframes nugget3{@include nugget(-($width *2 ));}
@keyframes nugget3{@include nugget(-($width * 2));}

// NGT-4
@-webkit-keyframes nugget4{@include nugget(-($width * 3));}
@keyframes nugget4{@include nugget(-($width * 3));}

// NGT-5
@-webkit-keyframes nugget5{@include nugget(-($width * 4));}
@keyframes nugget5{@include nugget(-($width * 4));}

// NGT-6
@-webkit-keyframes nugget6{@include nugget(-($width * 5));}
@keyframes nugget6{@include nugget(-($width * 5));}

// NGT-7
@-webkit-keyframes nugget7{@include nugget(-($width * 6));}
@keyframes nugget7{@include nugget(-($width * 6));}

// NGT-8
@-webkit-keyframes nugget8{@include nugget(-($width * 7));}
@keyframes nugget8{@include nugget(-($width * 7));}

// NGT-9
@-webkit-keyframes nugget9{@include nugget(-($width * 8));}
@keyframes nugget9{@include nugget(-($width *8));}

// NGT-10
@-webkit-keyframes nugget10{@include nugget(-($width * 9));}
@keyframes nugget10{@include nugget(-($width *9));}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// HALO OF OWN NUGGET
.own{
    position: relative;
    &:before{
        content:"";
        display: block;
        width: $width;
        height: $width;
        position: absolute;
        @include border-radius(50%);
        z-index: -1;
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
        -webkit-animation: ownhallo 1s linear infinite;
        animation: ownhallo 1s linear infinite;
    }
}

@mixin hallo() {
    0% {
        width: 2px;
        height: 2px;
        box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
        top:50%;
        left:50%;
        margin: -1px 0 0 -1px;
    }
    50% {
        width: ($width * 1);
        height: ($width * 1);
        box-shadow: inset 0 0 $width x 1 rgba(255, 255, 255, 0.6);
        top:50%;
        left:50%;
        margin: -($width / 2) 0 0 -($width / 2);
    }
    100% {
        width: ($width * 1.5);
        height: ($width * 1.5);
        box-shadow: inset 0 0 ($width * 1.5) rgba(255, 255, 255, 0);
        top:50%;
        left:50%;
        margin: -(($width * 1.5) / 2) 0 0 -(($width * 1.5) / 2);
    }
}

@-webkit-keyframes ownhallo{@include hallo();}
@keyframes ownhallo{@include hallo();}